<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="https://www.acc.top" httpResponseStatus="Permanent" />
        <rewrite>
            <rules>
                <rule name="http2https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://www.acc.top/{R:1}" />
                </rule>
				<rule name="HTTPS redirect">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^ON$" />
                        <add input="{HTTP_HOST}" pattern="^www\.acc\.top$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.acc.top/{R:1}" redirectType="SeeOther" />

                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
